body {
  font-family:'Sego UI' Arial;
  background-color: #c09f9f;
  margin: 0;
}

header {
    background-color: #c42a2a7c;
    color: rgb(244, 244, 255);
    text-allign: center;
    padding: 20px;
}

section {
     background-color: rgb(255, 255, 255);
     margin: 15px;
     padding: 15px;
     border-radius: 8px;
}

nav {
    background-color: 111827;
    text-align: center;
    font-weight: bold;
    padding: 12px;
}

nav a {
    color: rgb(65, 22, 22);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: 1e3a8a;
    color: rgb(3, 2, 2);
    text-align: center;
    padding: 10px;
}